<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <ion-list>
    <br>
    <ion-item>
        <ion-input
          label="ID"
          label-placement="floating"
          fill="solid"
          placeholder=" Introduce el ID del libro a buscar">
        </ion-input>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-button color="primary" expand="block">Mostrar</ion-button>
      <ion-button color="success" expand="block" routerLink="/home">Home</ion-button>
    </ion-row>
  </ion-grid>

  
</ion-content>
